<div class="search">
  <form #form="ngForm" (submit)="search()">
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
  </form>
</div>
<div class="container">
  <div class="upper-data">
    <img src="../assets/breathtaking-sunset-evening.jpg" alt="" *ngIf="(weatherData.main.temp_min - 273.15) > 15">
    <img src="../assets/christmas-landscape-with-snowflakes-falling.jpg" alt="" *ngIf="(weatherData.main.temp_min - 273.15)<= 15">
    <div class="weather-data">
      <div class="location">
        {{ weatherData.name }}
      </div>
      <div class="temperature">
      
        {{ (weatherData.main.temp - 273.15) | number:'1.0-0' }}°C
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer.png" alt="">
          <span>min</span>
        </div>
        <div class="info-block-value">

          {{ (weatherData.main.temp_min - 273.15) | number:'1.0-0' }}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/hot.png" alt="">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ (weatherData.main.temp_max - 273.15) | number:'1.0-0' }}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.humidity }}%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/blizzard.png" alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{( weatherData.wind.speed * 3.6)}} km/h
        </div>
      </div>
    </div>
  </div>
</div>
